/* --------------------------------------------------------------------+
|        _____ _     _               _____ _____   2024.01.26.12.59.42 |
|       |  |  |_|___| |_ ___ ___ ___|     |   __|  ___ ___ ___         |
|       |  |  | |   |  _| .'| . | -_|  |  |__   |_| . |  _| . |        |
|        \___/|_|_|_|_| |__,|_  |___|_____|_____|_|___|_| |_  |        |
|                           |___|                         |___|        |
|                                                                      |
|                              « thanks to patorjk.com for ASCII art » |
|                                                                      |
|               FRN2000 & VintageOS 2024.01.26.12.59.42                |
|              frn2000.com · frn2000.org · vintageos.org               |
|                    all rights reserved, 1997-2025                    |
|                                                                      |
| 1.  over three (3) decades destroying various technologies as well   |
|     as crashing, corrupting and hacking every operating system (OS)  |
|     that I have ever touched from KERNAL with MS BASIC 2.0 on my old |
|     Commodore 64 (https://vintageos.org/basic.html#C64) to Linux     |
|     (https://vintageos.org/linux.html) as well as teaching and       |
|     advocating for the hacker mentality behind free and open source  |
|     (https://vintageos.org/foss.html);  over a quarter (1/4) of a    |
|     century writing about OSs of the past half a century;  much more |
|     information available at https://vintageos.org/frn2000.html      |
|                                                                      |
| 2.  disclaimer and terms of use for this site and/or related domains |
|     found and explained at https://vintageos.org/disclaimer.html     |
|                                                                      |
| 3.  website and related files completely coded by hand (no WYSIWYG)  |
|     using — in alphabetical order                                    |
|                                                                      |
|     3.1.  GNU nano (https://nano-editor.org/) on Linux               |
|           (https://vintageos.org/linux.html) and/or Cygwin           |
|           (https://vintageos.org/unix.html#Cygwin)                   |
|                                                                      |
|     3.2.  Mousepad (https://docs.xfce.org/apps/mousepad/start) on    |
|           Linux (https://vintageos.org/linux.html)                   |
|                                                                      |
|     3.3.  Notepad++ (http://notepad-plus-plus.org/) on Microsoft     |
|           Windows (https://vintageos.org/windows.html)               |
|                                                                      |
|     3.4.  Tidy (http://html-tidy.org/) on Linux                      |
|           (https://vintageos.org/linux.html) and/or Cygwin           |
|           (https://vintageos.org/unix.html#Cygwin) with quick        |
|           statement `tidy -i -w 72 -o some_page.html some_page.html` |
|                                                                      |
| 4.  files `README.md`, `README2.md` and `LICENSE.md` written in      |
|     Markdown (https://daringfireball.net/projects/markdown/) as      |
|     specified by GitHub Pages (https://pages.github.com/) in their   |
|     guide (https://guides.github.com/features/mastering-markdown/)   |
|                                                                      |
| 5.  file `robots.txt` to block certain robots/spiders from accessing |
|     files and sub-directories;  instructions and information on how  |
|     to code this file found at http://robotstxt.org/robotstxt.html   |
+-------------------------------------------------------------------- */

.boxesEcho8
  {
    background-color: #F5F5F5;
    color: #000000;
    padding: 5px 5px 5px 5px;
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 16px;
    line-height: 20px;
    border: 1pt solid #C0C0C0;
  }

.boxesEcho8GREEN
  {
    background-color: #008000;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 16px;
    line-height: 20px;
    border: 1pt solid #C0C0C0;
  }

.boxesEcho8RED
  {
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 16px;
    line-height: 20px;
    border: 1pt solid #C0C0C0;
  }

.boxesEcho8YELLOW
  {
    background-color: #FFFF00;
    color: #000000;
    padding: 5px 5px 5px 5px;
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 16px;
    line-height: 20px;
    border: 1pt solid #C0C0C0;
  }