/* --------------------------------------------------------------------+
|        _____ _     _               _____ _____             v5FD0F407 |
|       |  |  |_|___| |_ ___ ___ ___|     |   __|  ___ ___ ___         |
|       |  |  | |   |  _| .'| . | -_|  |  |__   |_| . |  _| . |        |
|        \___/|_|_|_|_| |__,|_  |___|_____|_____|_|___|_| |_  |        |
|                           |___|                         |___|        |
|                                                                      |
|                                * thanks to patorjk.com for ASCII art |
|                                                                      |
|     FRN2000 & VintageOS v5FD0F407, all rights reserved, 1997-2021    |
|             frn2000.com · vintageos.com · vintageos.org              |
|                                                                      |
| 1.  over three (3) decades destroying various technologies, crashing |
|     and hacking every operating system (OS) that I have ever touched |
|     from KERNAL/BASIC on the C64 (https://vintageos.org/basic.html)  |
|     to Linux (https://vintageos.org/linux.html) as well as teaching  |
|     and advocating for the hacker mentality behind free and open     |
|     source (https://vintageos.org/foss.html);  much more information |
|     available at https://vintageos.org/frn2000.html                  |
|                                                                      |
| 2.  disclaimer and terms of use for this site and/or related domains |
|     found and explained at https://vintageos.org/disclaimer.html     |
|                                                                      |
| 3.  website and related files completely coded by hand (no WYSIWYG)  |
|     using -- in alphabetical order                                   |
|                                                                      |
|     3.1.  Caret (https://thomaswilburn.net/caret/) on Chrome OS      |
|           (https://vintageos.org/chromeos.html)                      |
|                                                                      |
|     3.2.  Gedit (https://wiki.gnome.org/Apps/Gedit) on Linux         |
|           (https://vintageos.org/linux.html)                         |
|                                                                      |
|     3.3.  Notepad++ (http://notepad-plus-plus.org/) on Microsoft     |
|           Windows (https://vintageos.org/windows.html)               |
|                                                                      |
|     3.4.  Nano (https://nano-editor.org/) on Linux                   |
|           (https://vintageos.org/linux.html) and/or Cygwin           |
|           (https://vintageos.org/unix.html#Cygwin)                   |
|                                                                      |
|     3.5.  Tidy (http://html-tidy.org/) on Linux                      |
|           (https://vintageos.org/linux.html) and/or Cygwin           |
|           (https://vintageos.org/unix.html#Cygwin)                   |
|                                                                      |
| 4.  files `README.md`, `README2.md` and `LICENSE.md` written in      |
|     Markdown (https://daringfireball.net/projects/markdown/) as      |
|     specified by GitHub Pages (https://pages.github.com/) in their   |
|     guide (https://guides.github.com/features/mastering-markdown/)   |
|                                                                      |
| 5.  file `robots.txt` to block certain robots/spiders from accessing |
|     files and sub-directories;  instructions and information on how  |
|     to code this file found at http://robotstxt.org/robotstxt.html   |
+-------------------------------------------------------------------- */

body
  {
    background-color: #F5F5F5;
    margin: 50px 50px 50px 50px;
    padding: 30px 30px 30px 30px;
    width: 75%;
    color: #000000;
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: left;
  }

h1
  {
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
  }

h2
  {
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
  }

h3
  {
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
  }

h4
  {
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
  }

hr
  {
    color: #C0C0C0;
    background-color: #C0C0C0;
    border: 0px;
    height: 1px;
  }

article body main nav select p ol option ul li
  {
    color: #000000;
    font-family: 'Open Sans', sans-serif, arial, helvetica, monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
  }

pre
  {
    /* color: #FFBF00;    monochrome amber  */
    /* color: #39FF14;    monochrome green  */
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background: #FFFFFF;
    border: 1pt solid #C0C0C0;
  }

tt
  {
    /* color: #FFBF00;    monochrome amber  */
    /* color: #39FF14;    monochrome green  */
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    /* background: #000000; */
    background: #FFFFFF;
    /* border: 1pt solid #000000; */
    border: 1pt solid #C0C0C0;
  }


a:link
  {
    color: #003366;
    text-decoration: underline;
  }

a:visited
  {
    color: #336699;
    text-decoration: underline;
  }

a:hover
  {
    color: #336666;
    text-decoration: none;
  }

.banner
  {
    background: #F7F7F7;
  }

.boxes
  {
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    line-height: 18px;
    border: 1pt solid #C0C0C0;
  }

.buttons
  {
    padding: 5px 5px 5px 5px;
    background-color: #F7F7F7;
    font-size: 14px;
    line-height: 18px;
    border: 1pt solid #C0C0C0;
  }

.padded
  {
    margin: 50px, 50px, 50px, 50px;
    padding: 50px, 50px, 50px, 50px;
  }

.regTXT
  {
    font-size: 14px;
    line-height: 16px;
  }

.smTXT
  {
    font-size: 10px;
    line-height: 13px;
  }

/* ------------------------------- EOF ------------------------------ */