/* --------------------------------------------------------------------+
|     FRN2000 & VintageOS v5D5B3801, all rights reserved, 1997-2019    |
|             frn2000.com | vintageos.com | vintageos.org              |
|                                                                      |
| 1.  over three decades destroying various technologies, crashing and |
|     hacking every operating system that I have ever touched from     |
|     BASIC on C64 and TRS-80 (http://vintageos.org/basic.html) to     |
|     Linux (http://vintageos.org/linux.html) as well as teaching and  |
|     advocating for open source;  more information available at       |
|     http://vintageos.org/frn2000.html                                |
|                                                                      |
| 2.  disclaimer and terms of use for this site and/or related domains |
|     found and explained at http://vintageos.org/disclaimer.html      |
|                                                                      |
| 3.  website and related files completely coded by hand (no WYSIWYG)  |
|     using                                                            |
|     3.1.  Gedit (https://wiki.gnome.org/Apps/Gedit) on Linux         |
|           (https://kernel.org/),                                     |
|     3.2.  Caret (https://thomaswilburn.net/caret/) on Chrome OS      |
|           (https://google.com/chromebook/)                           |
|     3.3.  Notepad++ (http://notepad-plus-plus.org/) on Windows       |
|           (https://microsoft.com/en-us/windows/)                     |
|     3.4.  Nano (https://nano-editor.org/) on Linux                   |
|           (https://kernel.org/) and Cygwin (https://cygwin.com/),    |
|     3.5.  Tidy (http://html-tidy.org/) on both Linux                 |
|           (https://kernel.org/) and Cygwin (https://cygwin.com/)     |
|                                                                      |
| 4.  files `README.md`, `README2.md` and `LICENSE.md` written in      |
|     Markdown 1.0.1 (https://daringfireball.net/projects/markdown/)   |
|     as specified by current web host GitHub Pages                    |
|     (https://guides.github.com/features/mastering-markdown/)         |
|                                                                      |
| 5.  file `robots.txt` to block certain robots/spiders from accessing |
|     files and sub-directories;  instructions and information on how  |
|     to code this file found at http://robotstxt.org/robotstxt.html   |
+-------------------------------------------------------------------- */

body
  {
    /* background-color: #002232; */
    background-color: #F5F5F5;
    margin: 50px, 50px, 50px, 50px;
    padding: 30px 30px 30px 30px;
    width: 75%;
    color: #000000;
    font-family: 'Open Sans',
                 'Sans-Serif',
                 'Arial,
                 'Helvetica',
                 'monospace';
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: left;
  }

h1
  {
    font-family: 'Open Sans',
                 'Sans-Serif',
                 'Arial,
                 'Helvetica',
                 'monospace';
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
  }

h2
  {
    font-family: 'Open Sans',
                 'Sans-Serif',
                 'Arial,
                 'Helvetica',
                 'monospace';
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
  }

h3
  {
    font-family: 'Open Sans',
                 'Sans-Serif',
                 'Arial,
                 'Helvetica',
                 'monospace';
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
  }

h4
  {
    font-family: 'Open Sans',
                 'Sans-Serif',
                 'Arial,
                 'Helvetica',
                 'monospace';
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
  }

hr
  {
    color: #C0C0C0;
    background-color: #C0C0C0;
    border: 0px;
    height: 1px;
  }

article body main nav select p ol option ul li
  {
    color: #000000;
    font-family: 'Open Sans',
                 'Sans-Serif',
                 'Arial,
                 'Helvetica',
                 'monospace';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
  }

pre tt
  {
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background: #FFFFFF;
    border: 1pt solid #C0C0C0;
  }

a:link
  {
    color: #003366;
    text-decoration: underline;
  }

a:visited
  {
    color: #336699;
    text-decoration: underline;
  }

a:hover
  {
    color: #336666;
    text-decoration: none;
  }

.banner
  {
    background: #F7F7F7;
  }

.boxes
  {
    font-size: 14px;
    line-height: 18px;
    border: 1pt solid #C0C0C0;
  }

.buttons
  {
    background-color: #F7F7F7;
    font-size: 14px;
    line-height: 18px;
    border: 1pt solid #C0C0C0;
  }

.padded
  {
    margin: 50px, 50px, 50px, 50px;
    padding: 50px, 50px, 50px, 50px;
  }

.regTXT
  {
    font-size: 14px;
    line-height: 16px;
  }

.smTXT
  {
    font-size: 10px;
    line-height: 13px;
  }

/* ------------------------------- EOF ------------------------------ */